.cmp-mycomponent__item{
  text-align: center;
}
.g-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
}

.card {
    width: calc(33.33% - 20px);
    margin: 0 10px 20px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 200px; /* Fixed height */
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-description {
    margin-bottom: 10px;
}

.card-cta {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}
